@use "mixins/mixins" as *;
@include b(divider) {
  position: relative;
  @include e(text) {
    position: absolute;
    background-color: var(--color-white);
    padding: 0 20px;
    font-weight: 500;
    color: var(--color-text-0);
    font-size: var(--font-size-default);
    @include when(left) {
      left: 20px;
      transform: translateY(-50%);
    }
    @include when(right) {
      right: 20px;
      transform: translateY(-50%);
    }
    @include when(center) {
      left: 50%;
      transform: translate(-50%) translateY(-50%);
    }
  }
  @include m(horizontal) {
    flex-shrink: 0;
    display: block;
    height: 1px;
    width: 100%;
    margin: var(--space-7) 0;
    border-top: 1px var(--color-fill-3) var(--border-style);
  }
  @include m(vertical) {
    display: inline-block;
    width: 1px;
    height: 1em;
    margin: 0 var(--space-3);
    vertical-align: middle;
    position: relative;
    border-left: 1px var(--color-fill-3) var(--border-style);
  }
}
