@use 'mixins/mixins' as *;
@use 'mixins/var' as *;
@use "mixins/function" as *;

@include b(form-item){
  display: flex;
  margin: 5px;
  align-items: center;
  @include e(label){
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 12px;
    height: 32px;
    line-height: 32px;
  }
  @include e(content){
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  @include e(error){
    color: red;
    font-size: 12px;
    margin-left: 5px;
    align-self: center;
  }
}
