@use 'mixins/mixins' as *;
@use "var" as *;
@include b(icon) {
  --color: inherit;
  height: 1em;
  width: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor; /* 常规css中是没有fill属性的，只在XML-CSS中存在，用于设置当前元素的填充内容，例如颜色，图片 */
  color: var(--color);
  font-size: inherit;

  svg {
    height: 1em;
    width: 1em;
  }
}
@font-face {
  font-family: "etu-icons"; /* Project id 3866756 */
  src: url('./fonts/iconfont.woff2') format('woff2'),
       url('./fonts/iconfont.woff') format('woff'),
       url('./fonts/iconfont.ttf') format('truetype');
}

[class^='etu-i'] {
  font-family: "etu-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.etu-i-cart:before {
  content: "\e634";
}

.etu-i-check:before {
  content: "\e637";
}

.etu-i-chevron-left:before {
  content: "\e638";
}

.etu-i-chevron-down:before {
  content: "\e639";
}

.etu-i-chevron-right:before {
  content: "\e63a";
}

.etu-i-edit:before {
  content: "\e63c";
}

.etu-i-fullscreen-exit:before {
  content: "\e643";
}

.etu-i-fullsreen:before {
  content: "\e644";
}

.etu-i-search:before {
  content: "\e65b";
}

.etu-i-tools:before {
  content: "\e661";
}





