@use "./mixins/mixins" as *;
@use "var" as *;
@include b(i) {
  --color: inherit;
  height: 1em;
  width: 1em;
  line-height: 1em;
  position: relative;
  fill: currentColor; /* 常规css中是没有fill属性的，只在XML-CSS中存在，用于设置当前元素的填充内容，例如颜色，图片 */
  color: var(--color);
  font-size: inherit;

  svg {
    height: 1em;
    width: 1em;
  }
}
@font-face {
  font-family: "etu-icons";
  src: url("./fonts/iconfont.woff2") format("woff2"),
    url("./fonts/iconfont.woff") format("woff"),
    url("./fonts/iconfont.ttf") format("truetype");
}

// xxx etu-i
[class^="#{$namespace}-i-"],[class*='#{$namespace}-i-'] {
  font-family: "etu-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
// @font-face {
//   font-family: "etu-font"; /* Project id 3867408 */
//   src: url("./fonts/iconfont.woff2?t=1674050671686") format("woff2"),
//     url("./fonts/iconfont.woff?t=1674050671686") format("woff"),
//     url("./fonts/iconfont.ttf?t=1674050671686") format("truetype");
// }

.#{$namespace}-i-3column:before {
  content: "\e663";
}

.#{$namespace}-i-column-4:before {
  content: "\e664";
}

.#{$namespace}-i-add:before {
  content: "\e665";
}

.#{$namespace}-i-add-circle:before {
  content: "\e666";
}

.#{$namespace}-i-adjust:before {
  content: "\e667";
}

.#{$namespace}-i-arrow-up-circle:before {
  content: "\e668";
}

.#{$namespace}-i-arrow-right-circle:before {
  content: "\e669";
}

.#{$namespace}-i-arrow-down:before {
  content: "\e66a";
}

.#{$namespace}-i-ashbin:before {
  content: "\e66b";
}

.#{$namespace}-i-arrow-right:before {
  content: "\e66c";
}

.#{$namespace}-i-browse:before {
  content: "\e66d";
}

.#{$namespace}-i-bottom:before {
  content: "\e66e";
}

.#{$namespace}-i-back:before {
  content: "\e66f";
}

.#{$namespace}-i-bad:before {
  content: "\e670";
}

.#{$namespace}-i-arrow-double-left:before {
  content: "\e671";
}

.#{$namespace}-i-arrow-left-circle:before {
  content: "\e672";
}

.#{$namespace}-i-arrow-double-right:before {
  content: "\e673";
}

.#{$namespace}-i-caps-lock:before {
  content: "\e674";
}

.#{$namespace}-i-camera:before {
  content: "\e675";
}

.#{$namespace}-i-chart-bar:before {
  content: "\e676";
}

.#{$namespace}-i-attachment:before {
  content: "\e677";
}

.#{$namespace}-i-code:before {
  content: "\e678";
}

.#{$namespace}-i-close:before {
  content: "\e679";
}

.#{$namespace}-i-check-item:before {
  content: "\e67a";
}

.#{$namespace}-i-calendar:before {
  content: "\e67b";
}

.#{$namespace}-i-comment:before {
  content: "\e67c";
}

.#{$namespace}-i-column-vertical:before {
  content: "\e67d";
}

.#{$namespace}-i-column-horizontal:before {
  content: "\e67e";
}

.#{$namespace}-i-complete:before {
  content: "\e67f";
}

.#{$namespace}-i-chart-pie:before {
  content: "\e680";
}

.#{$namespace}-i-cry:before {
  content: "\e681";
}

.#{$namespace}-i-customer-service:before {
  content: "\e682";
}

.#{$namespace}-i-delete:before {
  content: "\e683";
}

.#{$namespace}-i-direction-down:before {
  content: "\e684";
}

.#{$namespace}-i-copy:before {
  content: "\e685";
}

.#{$namespace}-i-cut:before {
  content: "\e686";
}

.#{$namespace}-i-data-view:before {
  content: "\e687";
}

.#{$namespace}-i-direction-down-circle:before {
  content: "\e688";
}

.#{$namespace}-i-direction-right:before {
  content: "\e689";
}

.#{$namespace}-i-direction-up:before {
  content: "\e68a";
}

.#{$namespace}-i-discount:before {
  content: "\e68b";
}

.#{$namespace}-i-direction-left:before {
  content: "\e68c";
}

.#{$namespace}-i-download:before {
  content: "\e68d";
}

.#{$namespace}-i-electronics:before {
  content: "\e68e";
}

.#{$namespace}-i-drag:before {
  content: "\e68f";
}

.#{$namespace}-i-elipsis:before {
  content: "\e690";
}

.#{$namespace}-i-export:before {
  content: "\e691";
}

.#{$namespace}-i-explain:before {
  content: "\e692";
}

.#{$namespace}-i-edit:before {
  content: "\e693";
}

.#{$namespace}-i-eye-close:before {
  content: "\e694";
}

.#{$namespace}-i-email:before {
  content: "\e695";
}

.#{$namespace}-i-error:before {
  content: "\e696";
}

.#{$namespace}-i-favorite:before {
  content: "\e697";
}

.#{$namespace}-i-file-common:before {
  content: "\e698";
}

.#{$namespace}-i-file-delete:before {
  content: "\e699";
}

.#{$namespace}-i-file-add:before {
  content: "\e69a";
}

.#{$namespace}-i-film:before {
  content: "\e69b";
}

.#{$namespace}-i-fabulous:before {
  content: "\e69c";
}

.#{$namespace}-i-file:before {
  content: "\e69d";
}

.#{$namespace}-i-folder-close:before {
  content: "\e69e";
}

.#{$namespace}-i-filter:before {
  content: "\e69f";
}

.#{$namespace}-i-good:before {
  content: "\e6a0";
}

.#{$namespace}-i-hide:before {
  content: "\e6a1";
}

.#{$namespace}-i-home:before {
  content: "\e6a2";
}

.#{$namespace}-i-history:before {
  content: "\e6a3";
}

.#{$namespace}-i-file-open:before {
  content: "\e6a4";
}

.#{$namespace}-i-forward:before {
  content: "\e6a5";
}

.#{$namespace}-i-import:before {
  content: "\e6a6";
}

.#{$namespace}-i-image-text:before {
  content: "\e6a7";
}

.#{$namespace}-i-keyboard-26:before {
  content: "\e6a8";
}

.#{$namespace}-i-keyboard-9:before {
  content: "\e6a9";
}

.#{$namespace}-i-link:before {
  content: "\e6aa";
}

.#{$namespace}-i-layout:before {
  content: "\e6ab";
}

.#{$namespace}-i-fullscreen-shrink:before {
  content: "\e6ac";
}

.#{$namespace}-i-layers:before {
  content: "\e6ad";
}

.#{$namespace}-i-lock:before {
  content: "\e6ae";
}

.#{$namespace}-i-fullscreen-expand:before {
  content: "\e6af";
}

.#{$namespace}-i-map:before {
  content: "\e6b0";
}

.#{$namespace}-i-meh:before {
  content: "\e6b1";
}

.#{$namespace}-i-menu:before {
  content: "\e6b2";
}

.#{$namespace}-i-loading:before {
  content: "\e6b3";
}

.#{$namespace}-i-help:before {
  content: "\e6b4";
}

.#{$namespace}-i-minus-circle:before {
  content: "\e6b5";
}

.#{$namespace}-i-modular:before {
  content: "\e6b6";
}

.#{$namespace}-i-notification:before {
  content: "\e6b7";
}

.#{$namespace}-i-mic:before {
  content: "\e6b8";
}

.#{$namespace}-i-more:before {
  content: "\e6b9";
}

.#{$namespace}-i-pad:before {
  content: "\e6ba";
}

.#{$namespace}-i-operation:before {
  content: "\e6bb";
}

.#{$namespace}-i-play:before {
  content: "\e6bc";
}

.#{$namespace}-i-print:before {
  content: "\e6bd";
}

.#{$namespace}-i-mobile-phone:before {
  content: "\e6be";
}

.#{$namespace}-i-minus:before {
  content: "\e6bf";
}

.#{$namespace}-i-navigation:before {
  content: "\e6c0";
}

.#{$namespace}-i-pdf:before {
  content: "\e6c1";
}

.#{$namespace}-i-prompt:before {
  content: "\e6c2";
}

.#{$namespace}-i-move:before {
  content: "\e6c3";
}

.#{$namespace}-i-refresh:before {
  content: "\e6c4";
}

.#{$namespace}-i-run-up:before {
  content: "\e6c5";
}

.#{$namespace}-i-picture:before {
  content: "\e6c6";
}

.#{$namespace}-i-run-in:before {
  content: "\e6c7";
}

.#{$namespace}-i-pin:before {
  content: "\e6c8";
}

.#{$namespace}-i-save:before {
  content: "\e6c9";
}

.#{$namespace}-i-search:before {
  content: "\e6ca";
}

.#{$namespace}-i-share:before {
  content: "\e6cb";
}

.#{$namespace}-i-scanning:before {
  content: "\e6cc";
}

.#{$namespace}-i-security:before {
  content: "\e6cd";
}

.#{$namespace}-i-sign-out:before {
  content: "\e6ce";
}

.#{$namespace}-i-select:before {
  content: "\e6cf";
}

.#{$namespace}-i-stop:before {
  content: "\e6d0";
}

.#{$namespace}-i-success:before {
  content: "\e6d1";
}

.#{$namespace}-i-smile:before {
  content: "\e6d2";
}

.#{$namespace}-i-switch:before {
  content: "\e6d3";
}

.#{$namespace}-i-setting:before {
  content: "\e6d4";
}

.#{$namespace}-i-survey:before {
  content: "\e6d5";
}

.#{$namespace}-i-task:before {
  content: "\e6d6";
}

.#{$namespace}-i-skip:before {
  content: "\e6d7";
}

.#{$namespace}-i-text:before {
  content: "\e6d8";
}

.#{$namespace}-i-time:before {
  content: "\e6d9";
}

.#{$namespace}-i-telephone-out:before {
  content: "\e6da";
}

.#{$namespace}-i-toggle-left:before {
  content: "\e6db";
}

.#{$namespace}-i-toggle-right:before {
  content: "\e6dc";
}

.#{$namespace}-i-telephone:before {
  content: "\e6dd";
}

.#{$namespace}-i-top:before {
  content: "\e6de";
}

.#{$namespace}-i-unlock:before {
  content: "\e6df";
}

.#{$namespace}-i-user:before {
  content: "\e6e0";
}

.#{$namespace}-i-upload:before {
  content: "\e6e1";
}

.#{$namespace}-i-work:before {
  content: "\e6e2";
}

.#{$namespace}-i-training:before {
  content: "\e6e3";
}

.#{$namespace}-i-warning:before {
  content: "\e6e4";
}

.#{$namespace}-i-zoom-in:before {
  content: "\e6e5";
}

.#{$namespace}-i-zoom-out:before {
  content: "\e6e6";
}

.#{$namespace}-i-add-bold:before {
  content: "\e6e7";
}

.#{$namespace}-i-arrow-left-bold:before {
  content: "\e6e8";
}

.#{$namespace}-i-arrow-up-bold:before {
  content: "\e6e9";
}

.#{$namespace}-i-close-bold:before {
  content: "\e6ea";
}

.#{$namespace}-i-arrow-down-bold:before {
  content: "\e6eb";
}

.#{$namespace}-i-minus-bold:before {
  content: "\e6ec";
}

.#{$namespace}-i-arrow-right-bold:before {
  content: "\e6ed";
}

.#{$namespace}-i-select-bold:before {
  content: "\e6ee";
}

.#{$namespace}-i-arrow-up-filling:before {
  content: "\e6ef";
}

.#{$namespace}-i-arrow-down-filling:before {
  content: "\e6f0";
}

.#{$namespace}-i-arrow-left-filling:before {
  content: "\e6f1";
}

.#{$namespace}-i-arrow-right-filling:before {
  content: "\e6f2";
}

.#{$namespace}-i-caps-unlock-filling:before {
  content: "\e6f3";
}

.#{$namespace}-i-comment-filling:before {
  content: "\e6f4";
}

.#{$namespace}-i-check-item-filling:before {
  content: "\e6f5";
}

.#{$namespace}-i-clock-filling:before {
  content: "\e6f6";
}

.#{$namespace}-i-delete-filling:before {
  content: "\e6f7";
}

.#{$namespace}-i-decline-filling:before {
  content: "\e6f8";
}

.#{$namespace}-i-dynamic-filling:before {
  content: "\e6f9";
}

.#{$namespace}-i-intermediate-filling:before {
  content: "\e6fa";
}

.#{$namespace}-i-favorite-filling:before {
  content: "\e6fb";
}

.#{$namespace}-i-layout-filling:before {
  content: "\e6fc";
}

.#{$namespace}-i-help-filling:before {
  content: "\e6fd";
}

.#{$namespace}-i-history-filling:before {
  content: "\e6fe";
}

.#{$namespace}-i-filter-filling:before {
  content: "\e6ff";
}

.#{$namespace}-i-file-common-filling:before {
  content: "\e700";
}

.#{$namespace}-i-news-filling:before {
  content: "\e701";
}

.#{$namespace}-i-edit-filling:before {
  content: "\e702";
}

.#{$namespace}-i-fullscreen-expand-filling:before {
  content: "\e703";
}

.#{$namespace}-i-smile-filling:before {
  content: "\e704";
}

.#{$namespace}-i-rise-filling:before {
  content: "\e705";
}

.#{$namespace}-i-picture-filling:before {
  content: "\e706";
}

.#{$namespace}-i-notification-filling:before {
  content: "\e707";
}

.#{$namespace}-i-user-filling:before {
  content: "\e708";
}

.#{$namespace}-i-setting-filling:before {
  content: "\e709";
}

.#{$namespace}-i-switch-filling:before {
  content: "\e70a";
}

.#{$namespace}-i-work-filling:before {
  content: "\e70b";
}

.#{$namespace}-i-task-filling:before {
  content: "\e70c";
}

.#{$namespace}-i-success-filling:before {
  content: "\e70d";
}

.#{$namespace}-i-warning-filling:before {
  content: "\e70e";
}

.#{$namespace}-i-folder-filling:before {
  content: "\e70f";
}

.#{$namespace}-i-map-filling:before {
  content: "\e710";
}

.#{$namespace}-i-prompt-filling:before {
  content: "\e711";
}

.#{$namespace}-i-meh-filling:before {
  content: "\e712";
}

.#{$namespace}-i-cry-filling:before {
  content: "\e713";
}

.#{$namespace}-i-top-filling:before {
  content: "\e714";
}

.#{$namespace}-i-home-filling:before {
  content: "\e715";
}

.#{$namespace}-i-sorting:before {
  content: "\e716";
}
