@use "sass:map";

@use "mixins/mixins" as *;
@use "mixins/function" as *;
@use "mixins/_var.scss" as *;
@use "var" as *;
@use "mixins/config" as *;
// @include b(link) {
//   @include set-component-css-var("link", $link);
// }
@include b(link) {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: getRootCssVar("font", "default");
  color: getCssVar("link", "text-color");

  &:hover {
    color: getCssVar("link", "hover-text-color");
  }

  @include when(underline) {
    &:hover:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 0;
      bottom: 0;
      border-bottom: 1px solid getCssVar("link", "text-color");
    }
  }

  @include when(disabled) {
    color: getCssVar("link", "disabled-text-color");
    cursor: not-allowed;
  }

  @each $type in $types {
    &.#{$namespace}-link--#{$type} {
      @include set-css-var-value(
        ("link", "text-color"),
        getRootCssVar("color", $type)
      );
      @include set-css-var-value(
        ("link", "hover-text-color"),
        getRootCssVar("color", $type, "light-hover")
      );
      @include set-css-var-value(
        ("link", "disabled-text-color"),
        getRootCssVar("color", $type, "disabled")
      );

      // &:after {
      //   border-color: getCssVar("link", "text-color");
      // }

      // @include when(underline) {
      //   &:hover:after {
      //     border-color: getCssVar("link", "text-color");
      //   }
      // }
    }
  }
}
