@use "./mixins/mixins.scss" as *;
@use "./mixins/_var" as *;
@use "./mixins/function.scss" as *;

@include b(scrollbar) {
  @include set-component-css-var(
    "scrollbar",
    (
      "opacity": 0.3,
      "bg-color": getRootCssVar("color", "text-2"),
      "hover-opacity": 0.5,
      "hover-bg-color": getRootCssVar("color", "text-2"),
    )
  );
  ::-webkit-scrollbar {
    width: 6px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #0003;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

@include b(scrollbar) {
  overflow: hidden;
  position: relative;
  height: 100%;

  @include e(wrapper) {
    overflow: auto;
    height: 100%;
  }
}
