@use "mixins/mixins" as *;

@mixin baseFunction($w, $h) {
  width: $w;
  height: $h;
  border-radius: $w * 0.36;
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
}
@mixin setMarginLeft($m, $n) {
  margin-left: $m - $n;
}
@mixin inBox($L) {
  width: $L;
  height: $L;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}
@mixin setBgColor($bg) {
  background-color: $bg;
}
@mixin setState($s, $l) {
  @if ($s == true) {
    @if ($l == true) {
      opacity: 0.6;
    }
    &:hover {
      cursor: not-allowed;
    }
  }
}
.RealCheck {
  display: none;
}
.etu-Switch {
  @include baseFunction(90px * 0.8, 50px * 0.8);
}
$Len: 50px;
@each $bgc in (crimson, limegreen, dodgerblue, mediumpurple) {
  @each $sz in (large, normal, small) {
    @each $state in (true, false) {
      .etu-Switch-#{$bgc + ""}__#{$state}--#{$sz} {
        @include setBgColor(grey);
        @include setState($state, true);

        @if (#{$sz} == large) {
          $Len: 50px;
          .etu-Switch-inBox {
            @include inBox($Len);
            transition: margin-left 0.3s;
            @include setState($state, false);
          }
          @include when(checked) {
            .etu-Switch-inBox {
              @include setMarginLeft(90px, 50px);
            }
          }
          @include baseFunction(90px, 50px);
        } @else if(#{$sz} == normal) {
          @extend .etu-Switch;
          $Len: 50px * 0.8;
          .etu-Switch-inBox {
            @include inBox($Len);
            transition: margin-left 0.3s;
            @include setState($state, false);
          }
          @include when(checked) {
            .etu-Switch-inBox {
              @include setMarginLeft(90px * 0.8, 50px * 0.8);
            }
          }
        } @else {
          @include baseFunction(90px * 0.8 * 0.8, 50px * 0.8 * 0.8);
          $Len: 50px * 0.8 * 0.8;
          .etu-Switch-inBox {
            @include inBox($Len);
            transition: margin-left 0.3s;
            @include setState($state, false);
          }
          @include when(checked) {
            .etu-Switch-inBox {
              @include setMarginLeft(90px * 0.8 * 0.8, 50px * 0.8 * 0.8);
            }
          }
        }

        @include when(checked) {
          @include setBgColor(#{$bgc});
        }
      }
    }
  }
}
