// types
$types: primary, success, warning, danger, error, info;

// typography
:root {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  --font-size-small-extra: 12px;
  --font-size-small: 13px;
  --font-size-default: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --font-size-large-extra: 20px;
  --font-size-header-1: 32px;
  --font-size-header-2: 28px;
  --font-size-header-3: 24px;
  --font-size-header-4: 20px;
  --font-size-header-5: 18px;
  --font-size-header-6: 16px;
}

* {
  box-sizing: border-box;
}

//border
:root {
  --border-default: 1px solid rgba(var(--color-grey-2), 1);
  --border-dotted: 1px dotted rgba(var(--color-grey-2), 1);
  --border-inset: 1px inset rgba(var(--color-grey-2), 1);
  --border-dashed: 1px dashed rgba(var(--color-grey-2), 1);
  --border-radius-full: 9999px;
  --border-radius-large: 12px;
  --border-radius-small: 3px;
  --border-radius-circle: 50%;
  --border-radius-medium: 6px;
}

// space
:root {
  --space-0: 0px;
  --space-1: 2px;
  --space-2: 4px;
  --space-3: 8px;
  --space-4: 12px;
  --space-5: 16px;
  --space-6: 20px;
  --space-7: 24px;
  --space-8: 32px;
  --space-9: 40px;
}

// shadow
:root {
  --shadow-none: none;
  --shadow-1: 0px 2px 4px 0px rgba(0, 0, 0, 0.14),
    0px 0px 1px 0px rgba(0, 0, 0, 0.16);
  --shadow-2: 0px 4px 6px 0px rgba(0, 0, 0, 0.1),
    0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  --shadow-3: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
    0px 4px 14px 0px rgba(0, 0, 0, 0.1);
}

// color
:root {
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-focus: rgba(var(--color-primary-5), 1);
  --color-border: rgba(var(--color-grey-9), 1);
  --color-text-0: rgba(var(--color-grey-9), 1);
  --color-text-1: rgba(var(--color-grey-9), 0.8);
  --color-text-2: rgba(var(--color-grey-9), 0.6);
  --color-text-3: rgba(var(--color-grey-9), 0.35);
  --color-fill-0: rgba(var(--color-grey-9), 0.05);
  --color-fill-1: rgba(var(--color-grey-9), 0.09);
  --color-fill-2: rgba(var(--color-grey-9), 0.13);
  --color-fill-3: rgba(var(--color-grey-9), 0.2);
  --color-fill-4: rgba(var(--color-grey-9), 0.35);
  --color-fill-5: rgba(var(--color-grey-9), 0.5);
  --color-fill-6: rgba(var(--color-grey-9), 0.6);
  --color-fill-7: rgba(var(--color-grey-9), 0.7);
  --color-fill-8: rgba(var(--color-grey-9), 0.8);
  --color-fill-9: rgba(var(--color-grey-9), 0.9);
  --color-default: rgba(var(--color-grey-0), 1);
  --color-default-hover: rgba(var(--color-grey-1), 1);
  --color-default-active: rgba(var(--color-grey-2), 1);
  --color-primary: rgba(var(--color-blue-5), 1);
  --color-primary-hover: rgba(var(--color-blue-6), 1);
  --color-primary-active: rgba(var(--color-blue-7), 1);
  --color-primary-disabled: rgba(var(--color-blue-2), 1);
  --color-primary-light: rgba(var(--color-blue-0), 1);
  --color-primary-light-hover: rgba(var(--color-blue-1), 1);
  --color-primary-light-active: rgba(var(--color-blue-2), 1);
  --color-success: rgba(var(--color-green-5), 1);
  --color-success-hover: rgba(var(--color-green-6), 1);
  --color-success-active: rgba(var(--color-green-7), 1);
  --color-success-disabled: rgba(var(--color-green-2), 1);
  --color-success-light: rgba(var(--color-green-0), 1);
  --color-success-light-hover: rgba(var(--color-green-1), 1);
  --color-success-light-active: rgba(var(--color-green-2), 1);
  --color-danger: rgba(var(--color-red-5), 1);
  --color-danger-hover: rgba(var(--color-red-6), 1);
  --color-danger-active: rgba(var(--color-red-7), 1);
  --color-danger-disabled: rgba(var(--color-red-2), 1);
  --color-danger-light: rgba(var(--color-red-0), 1);
  --color-danger-light-hover: rgba(var(--color-red-1), 1);
  --color-danger-light-active: rgba(var(--color-red-2), 1);
  --color-warning: rgba(var(--color-orange-5), 1);
  --color-warning-hover: rgba(var(--color-orange-6), 1);
  --color-warning-active: rgba(var(--color-orange-7), 1);
  --color-warning-disabled: rgba(var(--color-orange-2), 1);
  --color-warning-light: rgba(var(--color-orange-0), 1);
  --color-warning-light-hover: rgba(var(--color-orange-1), 1);
  --color-warning-light-active: rgba(var(--color-orange-2), 1);
  --color-info: rgba(var(--color-grey-5), 1);
  --color-info-hover: rgba(var(--color-grey-6), 1);
  --color-info-active: rgba(var(--color-grey-7), 1);
  --color-info-disabled: rgba(var(--color-grey-2), 1);
  --color-info-light: rgba(var(--color-grey-0), 1);
  --color-info-light-hover: rgba(var(--color-grey-1), 1);
  --color-info-light-active: rgba(var(--color-grey-2), 1);
  --color-disabled-bg: rgba(var(--color-grey-1), 1);
  --color-disabled-fill: rgba(var(--color-grey-8), 1);
  --color-disabled-text: rgba(var(--color-grey-9), 1);
  --color-disabled-border: rgba(var(--color-grey-1), 1);
  --color-link: rgba(var(--color-grey-5), 1);
  --color-link-hover: rgba(var(--color-grey-6), 1);
  --color-link-active: rgba(var(--color-grey-7), 1);
  --color-link-visited: rgba(var(--color-grey-5), 1);
}

:root {
  --color-amber-0: 254, 251, 235;
  --color-amber-1: 252, 245, 206;
  --color-amber-2: 249, 232, 158;
  --color-amber-3: 246, 216, 111;
  --color-amber-4: 243, 198, 65;
  --color-amber-5: 240, 177, 20;
  --color-amber-6: 200, 138, 15;
  --color-amber-7: 160, 102, 10;
  --color-amber-8: 120, 70, 6;
  --color-amber-9: 80, 43, 3;
  --color-blue-0: 234, 245, 255;
  --color-blue-1: 203, 231, 254;
  --color-blue-2: 152, 205, 253;
  --color-blue-3: 101, 178, 252;
  --color-blue-4: 50, 149, 251;
  --color-blue-5: 0, 100, 250;
  --color-blue-6: 0, 98, 214;
  --color-blue-7: 0, 79, 179;
  --color-blue-8: 0, 61, 143;
  --color-blue-9: 0, 44, 107;
  --color-cyan-0: 229, 247, 248;
  --color-cyan-1: 194, 239, 240;
  --color-cyan-2: 138, 221, 226;
  --color-cyan-3: 88, 203, 211;
  --color-cyan-4: 44, 184, 197;
  --color-cyan-5: 5, 164, 182;
  --color-cyan-6: 3, 134, 152;
  --color-cyan-7: 1, 105, 121;
  --color-cyan-8: 0, 77, 91;
  --color-cyan-9: 0, 50, 61;
  --color-green-0: 236, 247, 236;
  --color-green-1: 208, 240, 209;
  --color-green-2: 164, 224, 167;
  --color-green-3: 125, 209, 130;
  --color-green-4: 90, 194, 98;
  --color-green-5: 59, 179, 70;
  --color-green-6: 48, 149, 59;
  --color-green-7: 37, 119, 47;
  --color-green-8: 27, 89, 36;
  --color-green-9: 17, 60, 24;
  --color-grey-0: 249, 249, 249;
  --color-grey-1: 230, 232, 234;
  --color-grey-2: 198, 202, 205;
  --color-grey-3: 167, 171, 176;
  --color-grey-4: 136, 141, 146;
  --color-grey-5: 107, 112, 117;
  --color-grey-6: 85, 91, 97;
  --color-grey-7: 65, 70, 76;
  --color-grey-8: 46, 50, 56;
  --color-grey-9: 28, 31, 35;
  --color-indigo-0: 236, 239, 248;
  --color-indigo-1: 209, 216, 240;
  --color-indigo-2: 167, 179, 225;
  --color-indigo-3: 128, 144, 211;
  --color-indigo-4: 94, 111, 196;
  --color-indigo-5: 63, 81, 181;
  --color-indigo-6: 51, 66, 161;
  --color-indigo-7: 40, 52, 140;
  --color-indigo-8: 31, 40, 120;
  --color-indigo-9: 23, 29, 99;
  --color-light-blue-0: 233, 247, 253;
  --color-light-blue-1: 201, 236, 252;
  --color-light-blue-2: 149, 216, 248;
  --color-light-blue-3: 98, 195, 245;
  --color-light-blue-4: 48, 172, 241;
  --color-light-blue-5: 0, 149, 238;
  --color-light-blue-6: 0, 123, 202;
  --color-light-blue-7: 0, 99, 167;
  --color-light-blue-8: 0, 75, 131;
  --color-light-blue-9: 0, 53, 95;
  --color-light-green-0: 243, 248, 236;
  --color-light-green-1: 227, 240, 208;
  --color-light-green-2: 200, 226, 165;
  --color-light-green-3: 173, 211, 126;
  --color-light-green-4: 147, 197, 91;
  --color-light-green-5: 123, 182, 60;
  --color-light-green-6: 100, 152, 48;
  --color-light-green-7: 78, 121, 38;
  --color-light-green-8: 57, 91, 27;
  --color-light-green-9: 37, 61, 18;
  --color-lime-0: 242, 250, 230;
  --color-lime-1: 227, 246, 197;
  --color-lime-2: 203, 237, 142;
  --color-lime-3: 183, 227, 91;
  --color-lime-4: 167, 218, 44;
  --color-lime-5: 155, 209, 0;
  --color-lime-6: 126, 174, 0;
  --color-lime-7: 99, 139, 0;
  --color-lime-8: 72, 104, 0;
  --color-lime-9: 47, 70, 0;
  --color-orange-0: 255, 248, 234;
  --color-orange-1: 254, 238, 204;
  --color-orange-2: 254, 217, 152;
  --color-orange-3: 253, 193, 101;
  --color-orange-4: 253, 166, 51;
  --color-orange-5: 252, 136, 0;
  --color-orange-6: 210, 103, 0;
  --color-orange-7: 168, 74, 0;
  --color-orange-8: 126, 49, 0;
  --color-orange-9: 84, 29, 0;
  --color-pink-0: 253, 236, 239;
  --color-pink-1: 251, 207, 216;
  --color-pink-2: 246, 160, 181;
  --color-pink-3: 242, 115, 150;
  --color-pink-4: 237, 72, 123;
  --color-pink-5: 233, 30, 99;
  --color-pink-6: 197, 19, 86;
  --color-pink-7: 162, 11, 72;
  --color-pink-8: 126, 5, 58;
  --color-pink-9: 90, 1, 43;
  --color-purple-0: 247, 233, 247;
  --color-purple-1: 239, 202, 240;
  --color-purple-2: 221, 155, 224;
  --color-purple-3: 201, 111, 209;
  --color-purple-4: 180, 73, 194;
  --color-purple-5: 158, 40, 179;
  --color-purple-6: 135, 30, 158;
  --color-purple-7: 113, 22, 138;
  --color-purple-8: 92, 15, 117;
  --color-purple-9: 73, 10, 97;
  --color-red-0: 254, 242, 237;
  --color-red-1: 254, 221, 210;
  --color-red-2: 253, 183, 165;
  --color-red-3: 251, 144, 120;
  --color-red-4: 250, 102, 76;
  --color-red-5: 249, 57, 32;
  --color-red-6: 213, 37, 21;
  --color-red-7: 178, 20, 12;
  --color-red-8: 142, 8, 5;
  --color-red-9: 106, 1, 3;
  --color-teal-0: 228, 247, 244;
  --color-teal-1: 192, 240, 232;
  --color-teal-2: 135, 224, 211;
  --color-teal-3: 84, 209, 193;
  --color-teal-4: 39, 194, 176;
  --color-teal-5: 0, 179, 161;
  --color-teal-6: 0, 149, 137;
  --color-teal-7: 0, 119, 111;
  --color-teal-8: 0, 89, 85;
  --color-teal-9: 0, 60, 58;
  --color-violet-0: 243, 237, 249;
  --color-violet-1: 226, 209, 244;
  --color-violet-2: 196, 167, 233;
  --color-violet-3: 166, 127, 221;
  --color-violet-4: 136, 91, 210;
  --color-violet-5: 106, 58, 199;
  --color-violet-6: 87, 47, 179;
  --color-violet-7: 70, 37, 158;
  --color-violet-8: 54, 28, 138;
  --color-violet-9: 40, 20, 117;
  --color-yellow-0: 255, 253, 234;
  --color-yellow-1: 254, 251, 203;
  --color-yellow-2: 253, 243, 152;
  --color-yellow-3: 252, 232, 101;
  --color-yellow-4: 251, 218, 50;
  --color-yellow-5: 250, 200, 0;
  --color-yellow-6: 208, 170, 0;
  --color-yellow-7: 167, 139, 0;
  --color-yellow-8: 125, 106, 0;
  --color-yellow-9: 83, 72, 0;
}
