@use "config";

// 该函数将选择器转化为字符串，并截取指定位置的字符
@function selectorToString($selector) {
  $selector: inspect(
    $selector
  ); // inspect(...) 表达式中的内容如果是正常会返回对应的内容，如果发生错误则会弹出一个错误提示。
  $selector: str-slice($selector, 2, -2); // str-slice 截取指定字符
  @return $selector;
}
// 判断父级选择器是否包含'--'
@function containsModifier($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, config.$modifier-separator) {
    // str-index 返回字符串的第一个索引
    @return true;
  } @else {
    @return false;
  }
}
// 判断父级选择器是否包含'.is-'
@function containWhenFlag($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, "." + config.$state-prefix) {
    @return true;
  } @else {
    @return false;
  }
}
// 判断父级是否包含 ':' （用于判断伪类和伪元素）
@function containPseudoClass($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, ":") {
    @return true;
  } @else {
    @return false;
  }
}
// 判断父级选择器，是否包含`--` `.is-`  `：`这三种字符
@function hitAllSpecialNestRule($selector) {
  @return containsModifier($selector) or containWhenFlag($selector) or
    containPseudoClass($selector);
}

// 传入一个数组,将名称组合在一起
// joinVarName(('button', 'text-color')) => '--etu-button-text-color'
@function joinVarName($list, $name: "") {
  @if $name == "" {
    $name: "--" + config.$namespace;
  }
  @each $item in $list {
    @if $item != "" {
      $name: $name + "-" + $item;
    }
  }
  @return $name;
}

// 获取css变量名
// getCssVarName('button', 'text-color') => '--etu-button-text-color'
@function getCssVarName($args...) {
  @return joinVarName($args);
}

// 获取css变量
// getCssVar('button', 'text-color') => var(--etu-button-text-color)
@function getCssVar($args...) {
  @return var(#{joinVarName($args)});
}

// 获取Root上的css变量
// getRootCssVar('color', 'primary-light') => var(--color-primary-light)
@function getRootCssVar($args...) {
  @return var(#{joinVarName($args, "-")});
}

// 获取css变量，当无法获取到该变量时，使用默认值
// getCssVarWithDefault(('button', 'text-color'), red) => var(--etu-button-text-color, red)
@function getCssVarWithDefault($args, $default) {
  @return var(#{joinVarName($args)}, #{$default});
}

// 通过bem获取类名
// bem('block') => 'etu-block'
// bem('block', '', 'modifier') => 'etu-block--modifier'
// bem('block', 'element', '') => 'etu-block__element'
// bem('block', 'element', 'modifier') => 'etu-block__element--modifier'
@function bem($block, $element: "", $modifier: "") {
  $name: config.$namespace + config.$common-separator + $block;

  @if $element != "" {
    $name: $name + config.$element-separator + $element;
  }

  @if $modifier != "" {
    $name: $name + config.$modifier-separator + $modifier;
  }

  // @debug $name;
  @return $name;
}
