.etu-breadcrumb {
  font-size: var(--font-size-default);
}
.etu-breadcrumb__separator {
  margin: 0 var(--space-3);
  font-weight: 600;
  color: var(--color-text-3);
}

.etu-breadcrumb__inner.is-link {
  font-weight: 600;
  cursor: pointer;
}

.etu-breadcrumb__item:last-child .etu-breadcrumb__inner {
  font-weight: normal;
  cursor: text;
}
.etu-breadcrumb__item:last-child .etu-breadcrumb__separator {
  display: none;
}