.etu-Button-rainbow__Hollow--Microcurvature, .etu-Button-danger__Hollow--Microcurvature, .etu-Button-warning__Hollow--Microcurvature, .etu-Button-Info__Hollow--Microcurvature, .etu-Button-success__Hollow--Microcurvature, .etu-Button-primary__Hollow--Microcurvature, .etu-Button-danger__solid--curved, .etu-Button-danger__solid--Microcurvature, .etu-Button-warning__solid--curved, .etu-Button-warning__solid--Microcurvature, .etu-Button-Info__solid--curved, .etu-Button-Info__solid--Microcurvature, .etu-Button-success__solid--curved, .etu-Button-success__solid--Microcurvature, .etu-Button-primary__solid--curved, .etu-Button-primary__solid--Microcurvature, .etu-Button-rainbow__solid--curved, .etu-Button-rainbow__solid--Microcurvature, .etu-Button-default__solid--curved, .etu-Button-default__Hollow--Microcurvature, .etu-Button,
.etu-Button-default__solid--Microcurvature {
  outline: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  margin: 3px;
  border-radius: 6px 6px;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  line-height: 24px;
}

.etu-Button-rainbow__Hollow--Microcurvature, .etu-Button-danger__Hollow--Microcurvature, .etu-Button-warning__Hollow--Microcurvature, .etu-Button-Info__Hollow--Microcurvature, .etu-Button-success__Hollow--Microcurvature, .etu-Button-primary__Hollow--Microcurvature, .etu-Button-danger__solid--curved, .etu-Button-danger__solid--Microcurvature, .etu-Button-warning__solid--curved, .etu-Button-warning__solid--Microcurvature, .etu-Button-Info__solid--curved, .etu-Button-Info__solid--Microcurvature, .etu-Button-success__solid--curved, .etu-Button-success__solid--Microcurvature, .etu-Button-primary__solid--curved, .etu-Button-primary__solid--Microcurvature, .etu-Button-rainbow__solid--curved, .etu-Button-rainbow__solid--Microcurvature, .etu-Button-default__solid--curved, .etu-Button-default__Hollow--Microcurvature, .etu-Button,
.etu-Button-default__solid--Microcurvature {
  color: black;
  background-color: transparent;
  border: transparent solid 1px;
}

.etu-Button__true {
  opacity: 0.6;
}
.etu-Button__true:hover {
  cursor: not-allowed;
}

.etu-Button-false__normal {
  width: 108px;
  height: 36px;
  aspect-ratio: inherit;
}

.etu-Button-false__large {
  width: 130px;
  height: 43px;
  aspect-ratio: inherit;
}

.etu-Button-false__small {
  width: 90px;
  height: 35px;
  aspect-ratio: inherit;
}

.etu-Button-true__small, .etu-Button-true__large, .etu-Button-true__normal {
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.etu-Button-true__normal {
  width: 36px;
  height: 36px;
  aspect-ratio: inherit;
}

.etu-Button-true__large {
  width: 48px;
  height: 48px;
  aspect-ratio: inherit;
}

.etu-Button-true__small {
  width: 24px;
  height: 24px;
  aspect-ratio: inherit;
}

.etu-Button-default__solid--curved, .etu-Button-default__Hollow--Microcurvature, .etu-Button,
.etu-Button-default__solid--Microcurvature {
  border: grey solid 1px;
  background-color: inherit;
  color: white;
}

.etu-Button-rainbow__Hollow--Microcurvature:hover, .etu-Button-danger__Hollow--Microcurvature:hover, .etu-Button-warning__Hollow--Microcurvature:hover, .etu-Button-Info__Hollow--Microcurvature:hover, .etu-Button-success__Hollow--Microcurvature:hover, .etu-Button-primary__Hollow--Microcurvature:hover, .etu-Button-rainbow__solid--curved:hover, .etu-Button-danger__solid--curved:hover, .etu-Button-warning__solid--curved:hover, .etu-Button-Info__solid--curved:hover, .etu-Button-success__solid--curved:hover, .etu-Button-primary__solid--curved:hover, .etu-Button-default__solid--curved:hover, .etu-Button-default__Hollow--Microcurvature:hover, .etu-Button-rainbow__solid--Microcurvature:hover, .etu-Button-danger__solid--Microcurvature:hover, .etu-Button-warning__solid--Microcurvature:hover, .etu-Button-Info__solid--Microcurvature:hover, .etu-Button-success__solid--Microcurvature:hover, .etu-Button-primary__solid--Microcurvature:hover, .etu-Button:hover,
.etu-Button-default__solid--Microcurvature:hover {
  transition: all 0.3s;
}

.etu-Button-rainbow__solid--curved:hover, .etu-Button-danger__solid--curved:hover, .etu-Button-warning__solid--curved:hover, .etu-Button-Info__solid--curved:hover, .etu-Button-success__solid--curved:hover, .etu-Button-primary__solid--curved:hover, .etu-Button-default__solid--curved:hover, .etu-Button-default__Hollow--Microcurvature:hover, .etu-Button-rainbow__solid--Microcurvature:hover, .etu-Button-danger__solid--Microcurvature:hover, .etu-Button-warning__solid--Microcurvature:hover, .etu-Button-Info__solid--Microcurvature:hover, .etu-Button-success__solid--Microcurvature:hover, .etu-Button-primary__solid--Microcurvature:hover, .etu-Button:hover,
.etu-Button-default__solid--Microcurvature:hover {
  opacity: 0.6;
}

.etu-Button-rainbow__solid--curved, .etu-Button-rainbow__solid--Microcurvature {
  background-image: linear-gradient(45deg, red, orange, yellow, green, blue, aqua, purple);
  color: white;
}

.etu-Button,
.etu-Button-default__solid--Microcurvature {
  color: #181818;
}
.etu-Button:hover,
.etu-Button-default__solid--Microcurvature:hover {
  color: dodgerblue;
}

.etu-Button-primary__solid--curved, .etu-Button-primary__solid--Microcurvature {
  color: white;
  background-color: dodgerblue;
  border: dodgerblue solid 1px;
}

.etu-Button-success__solid--curved, .etu-Button-success__solid--Microcurvature {
  color: white;
  background-color: limegreen;
  border: limegreen solid 1px;
}

.etu-Button-Info__solid--curved, .etu-Button-Info__solid--Microcurvature {
  color: white;
  background-color: grey;
  border: grey solid 1px;
}

.etu-Button-warning__solid--curved, .etu-Button-warning__solid--Microcurvature {
  color: white;
  background-color: darkorange;
  border: darkorange solid 1px;
}

.etu-Button-danger__solid--curved, .etu-Button-danger__solid--Microcurvature {
  color: white;
  background-color: #f56c6c;
  border: #f56c6c solid 1px;
}

.etu-Button-default__Hollow--Microcurvature {
  color: black;
  background-color: white;
  border: lightblue solid 1px;
}
.etu-Button-default__Hollow--Microcurvature:hover {
  color: dodgerblue;
  border-color: dodgerblue;
}

.etu-Button-primary__Hollow--Microcurvature {
  color: white;
  background-color: dodgerblue;
  border: dodgerblue solid 1px;
  opacity: 0.6;
}

.etu-Button-primary__Hollow--Microcurvature:hover {
  opacity: 1;
  color: white;
}

.etu-Button-success__Hollow--Microcurvature {
  color: white;
  background-color: limegreen;
  border: limegreen solid 1px;
  opacity: 0.6;
}

.etu-Button-success__Hollow--Microcurvature:hover {
  opacity: 1;
  color: white;
}

.etu-Button-Info__Hollow--Microcurvature {
  color: white;
  background-color: grey;
  border: grey solid 1px;
  opacity: 0.6;
}

.etu-Button-Info__Hollow--Microcurvature:hover {
  opacity: 1;
  color: white;
}

.etu-Button-warning__Hollow--Microcurvature {
  color: white;
  background-color: darkorange;
  border: darkorange solid 1px;
  opacity: 0.6;
}

.etu-Button-warning__Hollow--Microcurvature:hover {
  opacity: 1;
  color: white;
}

.etu-Button-danger__Hollow--Microcurvature {
  color: white;
  background-color: #f56c6c;
  border: #f56c6c solid 1px;
  opacity: 0.6;
}

.etu-Button-danger__Hollow--Microcurvature:hover {
  opacity: 1;
  color: white;
}

.etu-Button-rainbow__Hollow--Microcurvature {
  border: #f56c6c solid 1px;
  background-image: linear-gradient(45deg, red, orange, yellow, green, blue, aqua, purple);
  opacity: 0.6;
}

.etu-Button-rainbow__Hollow--Microcurvature:hover {
  opacity: 1;
  color: white;
}

.etu-Button-default__solid--curved {
  border-radius: 18px 18px;
  color: black;
}
.etu-Button-default__solid--curved:hover {
  color: dodgerblue;
}

.etu-Button-primary__solid--curved {
  border-radius: 18px 18px;
}
.etu-Button-success__solid--curved {
  border-radius: 18px 18px;
}

.etu-Button-Info__solid--curved {
  border-radius: 18px 18px;
}
.etu-Button-warning__solid--curved {
  border-radius: 18px 18px;
}
.etu-Button-danger__solid--curved {
  border-radius: 18px 18px;
}
.etu-Button-rainbow__solid--curved {
  border-radius: 18px 18px;
}