.etu-checkbox {
  --etu-checkbox-bg-color: white;
  --etu-checkbox-text-color: var(--color-text-1);
  --etu-checkbox-font-weight: 500;
  --etu-checkbox-font-size: 14px;
  --etu-checkbox-input-width: 14px;
  --etu-checkbox-input-height: 14px;
  --etu-checkbox-input-border: var(--border-default);
  --etu-checkbox-border-radius: 2px;
  --etu-checkbox-border-color: var(--color-primary);
  --etu-disabled-text-color: var(--color-text-3);
  --etu-checkbox-disabled-input-fill: var(--color-fill-0);
  --etu-checkbox-disabled-border-color: var(--color-text-3);
}

.etu-checkbox {
  color: var(--etu-checkbox-text-color);
  font-weight: var(--etu-checkbox-font-weight);
  font-size: var(--etu-checkbox-font-size);
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  user-select: none;
  margin-right: 30px;
}
.etu-checkbox__input {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  position: relative;
}
.etu-checkbox__input.is-disabled .etu-checkbox__inner {
  background-color: var(--etu-checkbox-disabled-input-fill);
  border-color: var(--etu-checkbox-disabled-border-color);
  cursor: not-allowed;
}
.etu-checkbox__input.is-disabled .etu-checkbox__inner::after {
  cursor: not-allowed;
  border-color: var(--etu-disabled-text-color);
}
.etu-checkbox__input.is-disabled.is-checked .etu-checkbox__inner {
  background-color: var(--etu-checkbox-disabled-input-fill);
  border-color: var(--etu-checkbox-disabled-border-color);
}
.etu-checkbox__input.is-disabled.is-checked .etu-checkbox__inner::after {
  border-color: var(--etu-disabled-text-color);
}
.etu-checkbox__input.is-disabled + span.etu-checkbox__label {
  color: var(--etu-disabled-text-color);
  cursor: not-allowed;
}

.etu-checkbox__input.is-checked .etu-checkbox__inner {
  background-color: var(--etu-checkbox-border-color);
  border-color: var(--etu-checkbox-border-color);
}
.etu-checkbox__input.is-checked .etu-checkbox__inner::after {
  transform: rotate(45deg) scaleY(1);
}

.etu-checkbox__input.is-indeterminate .etu-checkbox__inner {
  background-color: var(--etu-checkbox-border-color);
  border-color: var(--etu-checkbox-border-color);
}
.etu-checkbox__input.is-indeterminate .etu-checkbox__inner::before {
  content: "";
  position: absolute;
  display: block;
  background-color: white;
  height: 2px;
  transform: scale(0.5);
  left: 0;
  right: 0;
  top: 5px;
}
.etu-checkbox__input.is-indeterminate .etu-checkbox__inner::after {
  display: none;
}

.etu-checkbox__inner {
  display: inline-block;
  position: relative;
  border: var(--etu-checkbox-input-border);
  border-radius: var(--etu-checkbox-border-radius);
  box-sizing: border-box;
  width: var(--etu-checkbox-input-width);
  height: var(--etu-checkbox-input-height);
  background-color: var(--etu-checkbox-bg-color);
  transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46), background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46), outline 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
}
.etu-checkbox__inner:hover {
  border-color: var(--etu-checkbox-border-color);
}
.etu-checkbox__inner::after {
  box-sizing: content-box;
  content: "";
  border: 1px solid white;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  transition: transform 0.15s ease-in 0.05s;
  transform-origin: center;
}

.etu-checkbox__label {
  display: inline-block;
  padding-left: 8px;
  line-height: 1;
  font-size: var(--etu-checkbox-font-size);
}

.etu-checkbox__original {
  opacity: 0;
  outline: none;
  position: absolute;
  margin: 0;
  width: 0;
  height: 0;
  z-index: -1;
}