.etu-collapse {
  --etu-collapse-height: 48px;
  --etu-collapse-border-color: var(--color-fill-2);
  --etu-collapse-text-color: var(--color-text-0);
  --etu-collapse-font-size: var(--font-size-default);
}

@keyframes open {
  from {
    height: 0;
    visibility: hidden;
  }
  to {
    height: 100px;
    visibility: visible;
  }
}
.etu-collapse-item {
  position: relative;
  transition: all 0.35s ease;
}
.etu-collapse-item.is-focus .etu-collapse-item__title {
  border-bottom: 1px solid transparent;
}

.etu-collapse-item.is-focus .etu-collapse-item__icon {
  transform: rotate(90deg);
}

.etu-collapse-item.is-focus .etu-collapse-item__content {
  visibility: visible;
}

.etu-collapse-item__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--etu-collapse-height);
  line-height: var(--etu-collapse-height);
  color: var(--etu-collapse-text-color);
  font-size: var(--etu-collapse-font-size);
  cursor: pointer;
  border-bottom: 1px solid var(--etu-collapse-border-color);
  outline: none;
  transition: border-color 0.35s ease;
}

.etu-collapse-item__icon {
  margin-right: var(--space-5);
  color: var(--color-fill-5);
  transition: transform 0.35s ease;
}

.etu-collapse-item:first-child .etu-collapse-item__title {
  border-top: 1px solid var(--etu-collapse-border-color);
}

.etu-collapse-item__content {
  transition: height 0.5s ease;
  border-bottom: 1px solid var(--etu-collapse-border-color);
}
.etu-collapse-item__inner {
  margin: 20px 0;
}