.etu-date-picker {
  --etu-date-picker-width-db: 620px;
  --etu-date-picker-width: 300px;
  --etu-date-picker-top: 36px;
  --etu-date-picker-inner-height: 30px;
  --etu-date-picker-text-color: var(--color-text-1);
  --etu-date-picker-hover-text-color: var(--color-primary);
  --etu-date-picker-font-size: var(--font-size-default);
  --etu-date-picker-bg-color: var(--color-white);
  --etu-date-picker-border-radius: var(--border-radius-small);
  --etu-date-picker-border-color: var(--color-fill-3);
  --etu-date-picker-border-color-hover: var(--color-fill-4);
  --etu-date-picker-border-color-active: var(--color-primary);
}

.etu-date-picker {
  display: inline-flex;
  position: relative;
  justify-content: center;
}
.etu-date-picker__dropdown {
  position: absolute;
  top: var(--etu-date-picker-top);
  left: 0;
  width: var(--etu-date-picker-width);
  padding: var(--space-5) var(--space-4);
  background-color: var(--etu-date-picker-bg-color);
  border-radius: var(--etu-date-picker-border-radius);
  box-shadow: var(--shadow-3);
  z-index: 9999;
}
.etu-date-picker__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-2);
  padding: var(--space-2);
  margin-bottom: var(--space-5);
}

.etu-date-picker__nav-header {
  flex: 1;
  text-align: center;
}

.etu-date-picker__nav-icon {
  font-size: 15px;
  cursor: pointer;
}
.etu-date-picker__nav-icon:hover {
  color: var(--etu-date-picker-hover-text-color);
}

.etu-date-picker__nav-title {
  display: flex;
  justify-content: center;
  gap: var(--space-4);
  font-size: 18px;
}

.etu-date-picker__nav-inner {
  cursor: pointer;
}
.etu-date-picker__nav-inner:hover {
  color: var(--etu-date-picker-hover-text-color);
}

.etu-date-picker__dropdown--range {
  display: flex;
  flex-direction: row;
  width: var(--etu-date-picker-width-db);
}
.etu-date-picker__dropdown--range .etu-date-picker__dropdown-wrap {
  padding: 0 15px;
}
.etu-date-picker__dropdown--range .etu-date-picker__dropdown-wrap:first-child {
  border-right: 1px solid var(--etu-date-picker-border-color);
}

.etu-date-picker.is-range .etu-date-picker__wrap {
  border: 1px solid var(--etu-date-picker-border-color);
  border-radius: var(--etu-date-picker-border-radius);
  padding: 0 10px;
}
.etu-date-picker.is-range .etu-date-picker__wrap:hover {
  border: 1px solid var(--etu-date-picker-border-color-hover);
}
.etu-date-picker.is-range .etu-date-picker__wrap:active, .etu-date-picker.is-range .etu-date-picker__wrap:focus {
  border: 1px solid var(--etu-date-picker-border-color-active);
}

.etu-date-picker.is-range.is-focus .etu-date-picker__wrap {
  border: 1px solid var(--etu-date-picker-border-color-active);
}

.etu-date-picker__input {
  appearance: none;
  border: none;
  outline: none;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  width: 39%;
  text-align: center;
  font-size: 14px;
  color: var(--color-text-0);
  background-color: transparent;
}