.etu-menuItem-hover__crimson--crimson {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: crimson;
  color: crimson;
}
.etu-menuItem-hover__crimson--crimson:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__crimson--dodgerblue {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: crimson;
  color: dodgerblue;
}
.etu-menuItem-hover__crimson--dodgerblue:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__crimson--limegreen {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: crimson;
  color: limegreen;
}
.etu-menuItem-hover__crimson--limegreen:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__crimson--grey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: crimson;
  color: grey;
}
.etu-menuItem-hover__crimson--grey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__crimson--darkorange {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: crimson;
  color: darkorange;
}
.etu-menuItem-hover__crimson--darkorange:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__crimson--black {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: crimson;
  color: black;
}
.etu-menuItem-hover__crimson--black:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__crimson--white {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: crimson;
  color: white;
}
.etu-menuItem-hover__crimson--white:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__crimson--inherit {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: crimson;
  color: inherit;
}
.etu-menuItem-hover__crimson--inherit:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__crimson--lightslategrey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: crimson;
  color: lightslategrey;
}
.etu-menuItem-hover__crimson--lightslategrey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__dodgerblue--crimson {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: dodgerblue;
  color: crimson;
}
.etu-menuItem-hover__dodgerblue--crimson:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__dodgerblue--dodgerblue {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: dodgerblue;
  color: dodgerblue;
}
.etu-menuItem-hover__dodgerblue--dodgerblue:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__dodgerblue--limegreen {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: dodgerblue;
  color: limegreen;
}
.etu-menuItem-hover__dodgerblue--limegreen:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__dodgerblue--grey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: dodgerblue;
  color: grey;
}
.etu-menuItem-hover__dodgerblue--grey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__dodgerblue--darkorange {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: dodgerblue;
  color: darkorange;
}
.etu-menuItem-hover__dodgerblue--darkorange:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__dodgerblue--black {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: dodgerblue;
  color: black;
}
.etu-menuItem-hover__dodgerblue--black:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__dodgerblue--white {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: dodgerblue;
  color: white;
}
.etu-menuItem-hover__dodgerblue--white:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__dodgerblue--inherit {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: dodgerblue;
  color: inherit;
}
.etu-menuItem-hover__dodgerblue--inherit:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__dodgerblue--lightslategrey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: dodgerblue;
  color: lightslategrey;
}
.etu-menuItem-hover__dodgerblue--lightslategrey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__limegreen--crimson {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: limegreen;
  color: crimson;
}
.etu-menuItem-hover__limegreen--crimson:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__limegreen--dodgerblue {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: limegreen;
  color: dodgerblue;
}
.etu-menuItem-hover__limegreen--dodgerblue:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__limegreen--limegreen {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: limegreen;
  color: limegreen;
}
.etu-menuItem-hover__limegreen--limegreen:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__limegreen--grey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: limegreen;
  color: grey;
}
.etu-menuItem-hover__limegreen--grey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__limegreen--darkorange {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: limegreen;
  color: darkorange;
}
.etu-menuItem-hover__limegreen--darkorange:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__limegreen--black {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: limegreen;
  color: black;
}
.etu-menuItem-hover__limegreen--black:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__limegreen--white {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: limegreen;
  color: white;
}
.etu-menuItem-hover__limegreen--white:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__limegreen--inherit {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: limegreen;
  color: inherit;
}
.etu-menuItem-hover__limegreen--inherit:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__limegreen--lightslategrey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: limegreen;
  color: lightslategrey;
}
.etu-menuItem-hover__limegreen--lightslategrey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__grey--crimson {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: grey;
  color: crimson;
}
.etu-menuItem-hover__grey--crimson:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__grey--dodgerblue {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: grey;
  color: dodgerblue;
}
.etu-menuItem-hover__grey--dodgerblue:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__grey--limegreen {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: grey;
  color: limegreen;
}
.etu-menuItem-hover__grey--limegreen:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__grey--grey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: grey;
  color: grey;
}
.etu-menuItem-hover__grey--grey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__grey--darkorange {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: grey;
  color: darkorange;
}
.etu-menuItem-hover__grey--darkorange:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__grey--black {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: grey;
  color: black;
}
.etu-menuItem-hover__grey--black:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__grey--white {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: grey;
  color: white;
}
.etu-menuItem-hover__grey--white:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__grey--inherit {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: grey;
  color: inherit;
}
.etu-menuItem-hover__grey--inherit:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__grey--lightslategrey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: grey;
  color: lightslategrey;
}
.etu-menuItem-hover__grey--lightslategrey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__darkorange--crimson {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: darkorange;
  color: crimson;
}
.etu-menuItem-hover__darkorange--crimson:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__darkorange--dodgerblue {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: darkorange;
  color: dodgerblue;
}
.etu-menuItem-hover__darkorange--dodgerblue:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__darkorange--limegreen {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: darkorange;
  color: limegreen;
}
.etu-menuItem-hover__darkorange--limegreen:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__darkorange--grey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: darkorange;
  color: grey;
}
.etu-menuItem-hover__darkorange--grey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__darkorange--darkorange {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: darkorange;
  color: darkorange;
}
.etu-menuItem-hover__darkorange--darkorange:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__darkorange--black {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: darkorange;
  color: black;
}
.etu-menuItem-hover__darkorange--black:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__darkorange--white {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: darkorange;
  color: white;
}
.etu-menuItem-hover__darkorange--white:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__darkorange--inherit {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: darkorange;
  color: inherit;
}
.etu-menuItem-hover__darkorange--inherit:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__darkorange--lightslategrey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: darkorange;
  color: lightslategrey;
}
.etu-menuItem-hover__darkorange--lightslategrey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__black--crimson {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: black;
  color: crimson;
}
.etu-menuItem-hover__black--crimson:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__black--dodgerblue {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: black;
  color: dodgerblue;
}
.etu-menuItem-hover__black--dodgerblue:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__black--limegreen {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: black;
  color: limegreen;
}
.etu-menuItem-hover__black--limegreen:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__black--grey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: black;
  color: grey;
}
.etu-menuItem-hover__black--grey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__black--darkorange {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: black;
  color: darkorange;
}
.etu-menuItem-hover__black--darkorange:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__black--black {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: black;
  color: black;
}
.etu-menuItem-hover__black--black:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__black--white {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: black;
  color: white;
}
.etu-menuItem-hover__black--white:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__black--inherit {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: black;
  color: inherit;
}
.etu-menuItem-hover__black--inherit:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__black--lightslategrey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: black;
  color: lightslategrey;
}
.etu-menuItem-hover__black--lightslategrey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__white--crimson {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: white;
  color: crimson;
}
.etu-menuItem-hover__white--crimson:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__white--dodgerblue {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: white;
  color: dodgerblue;
}
.etu-menuItem-hover__white--dodgerblue:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__white--limegreen {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: white;
  color: limegreen;
}
.etu-menuItem-hover__white--limegreen:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__white--grey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: white;
  color: grey;
}
.etu-menuItem-hover__white--grey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__white--darkorange {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: white;
  color: darkorange;
}
.etu-menuItem-hover__white--darkorange:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__white--black {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: white;
  color: black;
}
.etu-menuItem-hover__white--black:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__white--white {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: white;
  color: white;
}
.etu-menuItem-hover__white--white:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__white--inherit {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: white;
  color: inherit;
}
.etu-menuItem-hover__white--inherit:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__white--lightslategrey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: white;
  color: lightslategrey;
}
.etu-menuItem-hover__white--lightslategrey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__inherit--crimson {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: inherit;
  color: crimson;
}
.etu-menuItem-hover__inherit--crimson:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__inherit--dodgerblue {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: inherit;
  color: dodgerblue;
}
.etu-menuItem-hover__inherit--dodgerblue:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__inherit--limegreen {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: inherit;
  color: limegreen;
}
.etu-menuItem-hover__inherit--limegreen:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__inherit--grey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: inherit;
  color: grey;
}
.etu-menuItem-hover__inherit--grey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__inherit--darkorange {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: inherit;
  color: darkorange;
}
.etu-menuItem-hover__inherit--darkorange:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__inherit--black {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: inherit;
  color: black;
}
.etu-menuItem-hover__inherit--black:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__inherit--white {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: inherit;
  color: white;
}
.etu-menuItem-hover__inherit--white:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__inherit--inherit {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: inherit;
  color: inherit;
}
.etu-menuItem-hover__inherit--inherit:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__inherit--lightslategrey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: inherit;
  color: lightslategrey;
}
.etu-menuItem-hover__inherit--lightslategrey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__lightslategrey--crimson {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: lightslategrey;
  color: crimson;
}
.etu-menuItem-hover__lightslategrey--crimson:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__lightslategrey--dodgerblue {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: lightslategrey;
  color: dodgerblue;
}
.etu-menuItem-hover__lightslategrey--dodgerblue:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__lightslategrey--limegreen {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: lightslategrey;
  color: limegreen;
}
.etu-menuItem-hover__lightslategrey--limegreen:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__lightslategrey--grey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: lightslategrey;
  color: grey;
}
.etu-menuItem-hover__lightslategrey--grey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__lightslategrey--darkorange {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: lightslategrey;
  color: darkorange;
}
.etu-menuItem-hover__lightslategrey--darkorange:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__lightslategrey--black {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: lightslategrey;
  color: black;
}
.etu-menuItem-hover__lightslategrey--black:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__lightslategrey--white {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: lightslategrey;
  color: white;
}
.etu-menuItem-hover__lightslategrey--white:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__lightslategrey--inherit {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: lightslategrey;
  color: inherit;
}
.etu-menuItem-hover__lightslategrey--inherit:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem-hover__lightslategrey--lightslategrey {
  text-align: center;
  font-size: 20px;
  max-height: 50%;
  height: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
  width: 100%;
  z-index: 100;
  background-color: lightslategrey;
  color: lightslategrey;
}
.etu-menuItem-hover__lightslategrey--lightslategrey:hover {
  cursor: pointer;
  opacity: 0.4;
  background: grey;
}

.etu-menuItem__true {
  opacity: 0.2;
}
.etu-menuItem__true:hover {
  cursor: not-allowed;
  opacity: 0.4;
}