.etu-pagination {
  --etu-pagination-text-color: var(--color-text-0);
  --etu-pagination-font-size: 14px;
  --etu-pagination-button-width: 32px;
  --etu-pagination-button-height: 32px;
  --etu-ppagination-button-color: var(--color-text-0);
  --etu-pagination-bg-color: var(--color-white);
  --etu-pagination-border-radius: 2px;
  --etu-pagination-hover-color: var(--color-primary-hover);
  --etu-pagination-disabled-color: var(--color-text-3);
  --etu-pagination-item-gap: 16px;
  --etu-pagination-bg-color: var(--color-white);
  --etu-pagination-bg-color: var(--color-white);
  --etu-pagination-bg-color: var(--color-white);
}

.etu-pagination {
  white-space: nowrap;
  color: var(--etu-pagination-text-color);
  font-size: var(--etu-pagination-font-size);
  font-weight: 400;
  display: flex;
  align-items: center;
}
.etu-pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--etu-pagination-font-size);
  min-width: var(--etu-pagination-button-width);
  height: var(--etu-pagination-button-height);
  line-height: var(--etu-pagination-button-height);
  color: var(--etu-pagination-button-color);
  background: var(--etu-pagination-bg-color);
  padding: 0 4px;
  border: none;
  border-radius: var(--etu-pagination-border-radius);
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}
.etu-pagination button:focus {
  outline: none;
}
.etu-pagination button:hover {
  color: var(--etu-pagination-hover-color);
}
.etu-pagination button.is-active {
  color: var(--etu-pagination-hover-color);
  cursor: default;
  font-weight: bold;
}
.etu-pagination button.is-active.is-disabled {
  font-weight: bold;
  color: var(--etu-pagination-disabled-color);
}
.etu-pagination button:disabled, .etu-pagination button.is-disabled {
  color: var(--etu-pagination-disabled-color);
  cursor: not-allowed;
}
.etu-pagination button:focus-visible {
  outline: 1px solid var(--etu-pagination-hover-color);
  outline-offset: -1px;
}
.etu-pagination .btn-prev .etu-icon,
.etu-pagination .btn-next .etu-icon {
  display: block;
  font-size: 12px;
  font-weight: bold;
  width: inherit;
}
.etu-pagination > *.is-first {
  margin-left: 0 !important;
}

.etu-pagination .btn-prev {
  margin-left: var(--etu-pagination-item-gap);
}
.etu-pagination__sizes {
  margin-left: var(--etu-pagination-item-gap);
  font-weight: normal;
  color: var(--etu-pagination-disabled-color);
}

.etu-pagination__total {
  margin-left: var(--etu-pagination-item-gap);
  font-weight: normal;
  color: var(--etu-pagination-text-color);
}
.etu-pagination__total[disabled=true] {
  color: var(--etu-pagination-disabled-color);
}

.etu-pagination__jump {
  display: flex;
  align-items: center;
  margin-left: var(--etu-pagination-item-gap);
  font-weight: normal;
  color: var(--etu-pagination-text-color);
}
.etu-pagination__jump[disabled=true] {
  color: var(--etu-pagination-disabled-color);
}
.etu-pagination__goto {
  margin-right: 8px;
}

.etu-pagination__editor {
  text-align: center;
  box-sizing: border-box;
}
.etu-pagination__editor.etu-input {
  width: 56px;
}

.etu-pager {
  user-select: none;
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.etu-pager li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--etu-pagination-font-size);
  min-width: var(--etu-pagination-button-width);
  height: var(--etu-pagination-button-height);
  line-height: var(--etu-pagination-button-height);
  color: var(--etu-pagination-button-color);
  background: var(--etu-pagination-bg-color);
  padding: 0 4px;
  border: none;
  border-radius: var(--etu-pagination-border-radius);
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}
.etu-pager li:focus {
  outline: none;
}
.etu-pager li:hover {
  color: var(--etu-pagination-hover-color);
}
.etu-pager li.is-active {
  color: var(--etu-pagination-hover-color);
  cursor: default;
  font-weight: bold;
}
.etu-pager li.is-active.is-disabled {
  font-weight: bold;
  color: var(--etu-pagination-disabled-color);
}
.etu-pager li:disabled, .etu-pager li.is-disabled {
  color: var(--etu-pagination-disabled-color);
  cursor: not-allowed;
}
.etu-pager li:focus-visible {
  outline: 1px solid var(--etu-pagination-hover-color);
  outline-offset: -1px;
}