.etu-progress {
  --etu-progress-color: var(--color-primary);
}

.etu-progress {
  position: relative;
  line-height: 1;
  display: flex;
  align-items: center;
}
.etu-progress__text {
  font-size: 14px;
  color: var(--etu-color-text-0);
  margin-left: 5px;
  min-width: 50px;
  line-height: 1;
}

.etu-progress__icon {
  color: var(--etu-progress-color);
}

.etu-progress--success {
  --etu-progress-color: var(--color-success);
}

.etu-progress--danger {
  --etu-progress-color: var(--color-danger);
}

.etu-progress--warning {
  --etu-progress-color: var(--color-warning);
}

.etu-progress--info {
  --etu-progress-color: var(--color-info);
}

.etu-progress-bar {
  flex-grow: 1;
  box-sizing: border-box;
}
.etu-progress-bar__outer {
  height: 6px;
  border-radius: 100px;
  background-color: var(--color-fill-0);
}

.etu-progress-bar__inner {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--etu-progress-color);
  text-align: right;
  border-radius: 100px;
  line-height: 1;
  white-space: nowrap;
  transition: width 0.6s ease;
}

.etu-progress-bar__innerText {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
  margin: 0 5px;
}