.RealCheck {
  display: none;
}

.etu-Switch, .etu-Switch-mediumpurple__false--normal, .etu-Switch-mediumpurple__true--normal, .etu-Switch-dodgerblue__false--normal, .etu-Switch-dodgerblue__true--normal, .etu-Switch-limegreen__false--normal, .etu-Switch-limegreen__true--normal, .etu-Switch-crimson__false--normal, .etu-Switch-crimson__true--normal {
  width: 40px;
  height: 20px;
  border-radius: 14.4px;
  display: inline-block;
}
.etu-Switch:hover, .etu-Switch-mediumpurple__false--normal:hover, .etu-Switch-mediumpurple__true--normal:hover, .etu-Switch-dodgerblue__false--normal:hover, .etu-Switch-dodgerblue__true--normal:hover, .etu-Switch-limegreen__false--normal:hover, .etu-Switch-limegreen__true--normal:hover, .etu-Switch-crimson__false--normal:hover, .etu-Switch-crimson__true--normal:hover {
  cursor: pointer;
}

.etu-Switch-crimson__true--large {
  background-color: grey;
  opacity: 0.6;
  width: 50px;
  height: 25px;
  border-radius: 18px;
  display: inline-block;
}
.etu-Switch-crimson__true--large:hover {
  cursor: not-allowed;
}
.etu-Switch-crimson__true--large .etu-Switch-inBox {
  width: 25px;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-crimson__true--large .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-crimson__true--large .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-crimson__true--large.is-checked .etu-Switch-inBox {
  margin-left: 25px;
}

.etu-Switch-crimson__true--large:hover {
  cursor: pointer;
}
.etu-Switch-crimson__true--large.is-checked {
  background-color: crimson;
}

.etu-Switch-crimson__false--large {
  background-color: grey;
  width: 50px;
  height: 25px;
  border-radius: 18px;
  display: inline-block;
}
.etu-Switch-crimson__false--large .etu-Switch-inBox {
  width: 25px;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-crimson__false--large .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-crimson__false--large.is-checked .etu-Switch-inBox {
  margin-left: 25px;
}

.etu-Switch-crimson__false--large:hover {
  cursor: pointer;
}
.etu-Switch-crimson__false--large.is-checked {
  background-color: crimson;
}

.etu-Switch-crimson__true--normal {
  background-color: grey;
  opacity: 0.6;
}
.etu-Switch-crimson__true--normal:hover {
  cursor: not-allowed;
}
.etu-Switch-crimson__true--normal .etu-Switch-inBox {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-crimson__true--normal .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-crimson__true--normal .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-crimson__true--normal.is-checked .etu-Switch-inBox {
  margin-left: 20px;
}

.etu-Switch-crimson__true--normal.is-checked {
  background-color: crimson;
}

.etu-Switch-crimson__false--normal {
  background-color: grey;
}
.etu-Switch-crimson__false--normal .etu-Switch-inBox {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-crimson__false--normal .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-crimson__false--normal.is-checked .etu-Switch-inBox {
  margin-left: 20px;
}

.etu-Switch-crimson__false--normal.is-checked {
  background-color: crimson;
}

.etu-Switch-crimson__true--small {
  background-color: grey;
  opacity: 0.6;
  width: 32px;
  height: 16px;
  border-radius: 11.52px;
  display: inline-block;
}
.etu-Switch-crimson__true--small:hover {
  cursor: not-allowed;
}
.etu-Switch-crimson__true--small:hover {
  cursor: pointer;
}
.etu-Switch-crimson__true--small .etu-Switch-inBox {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-crimson__true--small .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-crimson__true--small .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-crimson__true--small.is-checked .etu-Switch-inBox {
  margin-left: 16px;
}

.etu-Switch-crimson__true--small.is-checked {
  background-color: crimson;
}

.etu-Switch-crimson__false--small {
  background-color: grey;
  width: 32px;
  height: 16px;
  border-radius: 11.52px;
  display: inline-block;
}
.etu-Switch-crimson__false--small:hover {
  cursor: pointer;
}
.etu-Switch-crimson__false--small .etu-Switch-inBox {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-crimson__false--small .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-crimson__false--small.is-checked .etu-Switch-inBox {
  margin-left: 16px;
}

.etu-Switch-crimson__false--small.is-checked {
  background-color: crimson;
}

.etu-Switch-limegreen__true--large {
  background-color: grey;
  opacity: 0.6;
  width: 50px;
  height: 25px;
  border-radius: 18px;
  display: inline-block;
}
.etu-Switch-limegreen__true--large:hover {
  cursor: not-allowed;
}
.etu-Switch-limegreen__true--large .etu-Switch-inBox {
  width: 25px;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-limegreen__true--large .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__true--large .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-limegreen__true--large.is-checked .etu-Switch-inBox {
  margin-left: 25px;
}

.etu-Switch-limegreen__true--large:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__true--large.is-checked {
  background-color: limegreen;
}

.etu-Switch-limegreen__false--large {
  background-color: grey;
  width: 50px;
  height: 25px;
  border-radius: 18px;
  display: inline-block;
}
.etu-Switch-limegreen__false--large .etu-Switch-inBox {
  width: 25px;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-limegreen__false--large .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__false--large.is-checked .etu-Switch-inBox {
  margin-left: 25px;
}

.etu-Switch-limegreen__false--large:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__false--large.is-checked {
  background-color: limegreen;
}

.etu-Switch-limegreen__true--normal {
  background-color: grey;
  opacity: 0.6;
}
.etu-Switch-limegreen__true--normal:hover {
  cursor: not-allowed;
}
.etu-Switch-limegreen__true--normal .etu-Switch-inBox {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-limegreen__true--normal .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__true--normal .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-limegreen__true--normal.is-checked .etu-Switch-inBox {
  margin-left: 20px;
}

.etu-Switch-limegreen__true--normal.is-checked {
  background-color: limegreen;
}

.etu-Switch-limegreen__false--normal {
  background-color: grey;
}
.etu-Switch-limegreen__false--normal .etu-Switch-inBox {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-limegreen__false--normal .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__false--normal.is-checked .etu-Switch-inBox {
  margin-left: 20px;
}

.etu-Switch-limegreen__false--normal.is-checked {
  background-color: limegreen;
}

.etu-Switch-limegreen__true--small {
  background-color: grey;
  opacity: 0.6;
  width: 32px;
  height: 16px;
  border-radius: 11.52px;
  display: inline-block;
}
.etu-Switch-limegreen__true--small:hover {
  cursor: not-allowed;
}
.etu-Switch-limegreen__true--small:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__true--small .etu-Switch-inBox {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-limegreen__true--small .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__true--small .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-limegreen__true--small.is-checked .etu-Switch-inBox {
  margin-left: 16px;
}

.etu-Switch-limegreen__true--small.is-checked {
  background-color: limegreen;
}

.etu-Switch-limegreen__false--small {
  background-color: grey;
  width: 32px;
  height: 16px;
  border-radius: 11.52px;
  display: inline-block;
}
.etu-Switch-limegreen__false--small:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__false--small .etu-Switch-inBox {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-limegreen__false--small .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__false--small.is-checked .etu-Switch-inBox {
  margin-left: 16px;
}

.etu-Switch-limegreen__false--small.is-checked {
  background-color: limegreen;
}

.etu-Switch-dodgerblue__true--large {
  background-color: grey;
  opacity: 0.6;
  width: 50px;
  height: 25px;
  border-radius: 18px;
  display: inline-block;
}
.etu-Switch-dodgerblue__true--large:hover {
  cursor: not-allowed;
}
.etu-Switch-dodgerblue__true--large .etu-Switch-inBox {
  width: 25px;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-dodgerblue__true--large .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__true--large .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-dodgerblue__true--large.is-checked .etu-Switch-inBox {
  margin-left: 25px;
}

.etu-Switch-dodgerblue__true--large:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__true--large.is-checked {
  background-color: dodgerblue;
}

.etu-Switch-dodgerblue__false--large {
  background-color: grey;
  width: 50px;
  height: 25px;
  border-radius: 18px;
  display: inline-block;
}
.etu-Switch-dodgerblue__false--large .etu-Switch-inBox {
  width: 25px;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-dodgerblue__false--large .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__false--large.is-checked .etu-Switch-inBox {
  margin-left: 25px;
}

.etu-Switch-dodgerblue__false--large:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__false--large.is-checked {
  background-color: dodgerblue;
}

.etu-Switch-dodgerblue__true--normal {
  background-color: grey;
  opacity: 0.6;
}
.etu-Switch-dodgerblue__true--normal:hover {
  cursor: not-allowed;
}
.etu-Switch-dodgerblue__true--normal .etu-Switch-inBox {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-dodgerblue__true--normal .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__true--normal .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-dodgerblue__true--normal.is-checked .etu-Switch-inBox {
  margin-left: 20px;
}

.etu-Switch-dodgerblue__true--normal.is-checked {
  background-color: dodgerblue;
}

.etu-Switch-dodgerblue__false--normal {
  background-color: grey;
}
.etu-Switch-dodgerblue__false--normal .etu-Switch-inBox {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-dodgerblue__false--normal .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__false--normal.is-checked .etu-Switch-inBox {
  margin-left: 20px;
}

.etu-Switch-dodgerblue__false--normal.is-checked {
  background-color: dodgerblue;
}

.etu-Switch-dodgerblue__true--small {
  background-color: grey;
  opacity: 0.6;
  width: 32px;
  height: 16px;
  border-radius: 11.52px;
  display: inline-block;
}
.etu-Switch-dodgerblue__true--small:hover {
  cursor: not-allowed;
}
.etu-Switch-dodgerblue__true--small:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__true--small .etu-Switch-inBox {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-dodgerblue__true--small .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__true--small .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-dodgerblue__true--small.is-checked .etu-Switch-inBox {
  margin-left: 16px;
}

.etu-Switch-dodgerblue__true--small.is-checked {
  background-color: dodgerblue;
}

.etu-Switch-dodgerblue__false--small {
  background-color: grey;
  width: 32px;
  height: 16px;
  border-radius: 11.52px;
  display: inline-block;
}
.etu-Switch-dodgerblue__false--small:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__false--small .etu-Switch-inBox {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-dodgerblue__false--small .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__false--small.is-checked .etu-Switch-inBox {
  margin-left: 16px;
}

.etu-Switch-dodgerblue__false--small.is-checked {
  background-color: dodgerblue;
}

.etu-Switch-mediumpurple__true--large {
  background-color: grey;
  opacity: 0.6;
  width: 50px;
  height: 25px;
  border-radius: 18px;
  display: inline-block;
}
.etu-Switch-mediumpurple__true--large:hover {
  cursor: not-allowed;
}
.etu-Switch-mediumpurple__true--large .etu-Switch-inBox {
  width: 25px;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-mediumpurple__true--large .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__true--large .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-mediumpurple__true--large.is-checked .etu-Switch-inBox {
  margin-left: 25px;
}

.etu-Switch-mediumpurple__true--large:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__true--large.is-checked {
  background-color: mediumpurple;
}

.etu-Switch-mediumpurple__false--large {
  background-color: grey;
  width: 50px;
  height: 25px;
  border-radius: 18px;
  display: inline-block;
}
.etu-Switch-mediumpurple__false--large .etu-Switch-inBox {
  width: 25px;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-mediumpurple__false--large .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__false--large.is-checked .etu-Switch-inBox {
  margin-left: 25px;
}

.etu-Switch-mediumpurple__false--large:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__false--large.is-checked {
  background-color: mediumpurple;
}

.etu-Switch-mediumpurple__true--normal {
  background-color: grey;
  opacity: 0.6;
}
.etu-Switch-mediumpurple__true--normal:hover {
  cursor: not-allowed;
}
.etu-Switch-mediumpurple__true--normal .etu-Switch-inBox {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-mediumpurple__true--normal .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__true--normal .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-mediumpurple__true--normal.is-checked .etu-Switch-inBox {
  margin-left: 20px;
}

.etu-Switch-mediumpurple__true--normal.is-checked {
  background-color: mediumpurple;
}

.etu-Switch-mediumpurple__false--normal {
  background-color: grey;
}
.etu-Switch-mediumpurple__false--normal .etu-Switch-inBox {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-mediumpurple__false--normal .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__false--normal.is-checked .etu-Switch-inBox {
  margin-left: 20px;
}

.etu-Switch-mediumpurple__false--normal.is-checked {
  background-color: mediumpurple;
}

.etu-Switch-mediumpurple__true--small {
  background-color: grey;
  opacity: 0.6;
  width: 32px;
  height: 16px;
  border-radius: 11.52px;
  display: inline-block;
}
.etu-Switch-mediumpurple__true--small:hover {
  cursor: not-allowed;
}
.etu-Switch-mediumpurple__true--small:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__true--small .etu-Switch-inBox {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-mediumpurple__true--small .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__true--small .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-mediumpurple__true--small.is-checked .etu-Switch-inBox {
  margin-left: 16px;
}

.etu-Switch-mediumpurple__true--small.is-checked {
  background-color: mediumpurple;
}

.etu-Switch-mediumpurple__false--small {
  background-color: grey;
  width: 32px;
  height: 16px;
  border-radius: 11.52px;
  display: inline-block;
}
.etu-Switch-mediumpurple__false--small:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__false--small .etu-Switch-inBox {
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 9999px;
  transition: margin-left 0.3s;
}
.etu-Switch-mediumpurple__false--small .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__false--small.is-checked .etu-Switch-inBox {
  margin-left: 16px;
}

.etu-Switch-mediumpurple__false--small.is-checked {
  background-color: mediumpurple;
}