.RealCheck {
  display: none;
}

.etu-Switch, .etu-Switch-mediumpurple__false--normal, .etu-Switch-mediumpurple__true--normal, .etu-Switch-dodgerblue__false--normal, .etu-Switch-dodgerblue__true--normal, .etu-Switch-limegreen__false--normal, .etu-Switch-limegreen__true--normal, .etu-Switch-crimson__false--normal, .etu-Switch-crimson__true--normal {
  width: 72px;
  height: 40px;
  background-color: #181818;
  border-radius: 25.92px;
  display: flex;
}
.etu-Switch:hover, .etu-Switch-mediumpurple__false--normal:hover, .etu-Switch-mediumpurple__true--normal:hover, .etu-Switch-dodgerblue__false--normal:hover, .etu-Switch-dodgerblue__true--normal:hover, .etu-Switch-limegreen__false--normal:hover, .etu-Switch-limegreen__true--normal:hover, .etu-Switch-crimson__false--normal:hover, .etu-Switch-crimson__true--normal:hover {
  cursor: pointer;
}

.etu-Switch-crimson__true--large {
  background-color: crimson;
  opacity: 0.6;
  width: 90px;
  height: 50px;
  background-color: #181818;
  border-radius: 32.4px;
  display: flex;
}
.etu-Switch-crimson__true--large:hover {
  cursor: not-allowed;
}
.etu-Switch-crimson__true--large .etu-Switch-inBox {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
}
.etu-Switch-crimson__true--large .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-crimson__true--large .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-crimson__true--large input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 40px;
  transition: all 0.3s;
}
.etu-Switch-crimson__true--large:hover {
  cursor: pointer;
}

.etu-Switch-crimson__false--large {
  background-color: crimson;
  width: 90px;
  height: 50px;
  background-color: #181818;
  border-radius: 32.4px;
  display: flex;
}
.etu-Switch-crimson__false--large .etu-Switch-inBox {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}
.etu-Switch-crimson__false--large .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-crimson__false--large input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 40px;
  transition: all 0.3s;
}
.etu-Switch-crimson__false--large:hover {
  cursor: pointer;
}

.etu-Switch-crimson__true--normal {
  background-color: crimson;
  opacity: 0.6;
}
.etu-Switch-crimson__true--normal:hover {
  cursor: not-allowed;
}
.etu-Switch-crimson__true--normal .etu-Switch-inBox {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
}
.etu-Switch-crimson__true--normal .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-crimson__true--normal .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-crimson__true--normal input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 32px;
  transition: all 0.3s;
}

.etu-Switch-crimson__false--normal {
  background-color: crimson;
}
.etu-Switch-crimson__false--normal .etu-Switch-inBox {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}
.etu-Switch-crimson__false--normal .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-crimson__false--normal input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 32px;
  transition: all 0.3s;
}

.etu-Switch-crimson__true--small {
  background-color: crimson;
  opacity: 0.6;
  width: 57.6px;
  height: 32px;
  background-color: #181818;
  border-radius: 20.736px;
  display: flex;
}
.etu-Switch-crimson__true--small:hover {
  cursor: not-allowed;
}
.etu-Switch-crimson__true--small:hover {
  cursor: pointer;
}
.etu-Switch-crimson__true--small .etu-Switch-inBox {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
}
.etu-Switch-crimson__true--small .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-crimson__true--small .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-crimson__true--small input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 25.6px;
  transition: all 0.3s;
}

.etu-Switch-crimson__false--small {
  background-color: crimson;
  width: 57.6px;
  height: 32px;
  background-color: #181818;
  border-radius: 20.736px;
  display: flex;
}
.etu-Switch-crimson__false--small:hover {
  cursor: pointer;
}
.etu-Switch-crimson__false--small .etu-Switch-inBox {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}
.etu-Switch-crimson__false--small .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-crimson__false--small input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 25.6px;
  transition: all 0.3s;
}

.etu-Switch-limegreen__true--large {
  background-color: limegreen;
  opacity: 0.6;
  width: 90px;
  height: 50px;
  background-color: #181818;
  border-radius: 32.4px;
  display: flex;
}
.etu-Switch-limegreen__true--large:hover {
  cursor: not-allowed;
}
.etu-Switch-limegreen__true--large .etu-Switch-inBox {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
}
.etu-Switch-limegreen__true--large .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__true--large .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-limegreen__true--large input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 40px;
  transition: all 0.3s;
}
.etu-Switch-limegreen__true--large:hover {
  cursor: pointer;
}

.etu-Switch-limegreen__false--large {
  background-color: limegreen;
  width: 90px;
  height: 50px;
  background-color: #181818;
  border-radius: 32.4px;
  display: flex;
}
.etu-Switch-limegreen__false--large .etu-Switch-inBox {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}
.etu-Switch-limegreen__false--large .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__false--large input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 40px;
  transition: all 0.3s;
}
.etu-Switch-limegreen__false--large:hover {
  cursor: pointer;
}

.etu-Switch-limegreen__true--normal {
  background-color: limegreen;
  opacity: 0.6;
}
.etu-Switch-limegreen__true--normal:hover {
  cursor: not-allowed;
}
.etu-Switch-limegreen__true--normal .etu-Switch-inBox {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
}
.etu-Switch-limegreen__true--normal .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__true--normal .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-limegreen__true--normal input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 32px;
  transition: all 0.3s;
}

.etu-Switch-limegreen__false--normal {
  background-color: limegreen;
}
.etu-Switch-limegreen__false--normal .etu-Switch-inBox {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}
.etu-Switch-limegreen__false--normal .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__false--normal input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 32px;
  transition: all 0.3s;
}

.etu-Switch-limegreen__true--small {
  background-color: limegreen;
  opacity: 0.6;
  width: 57.6px;
  height: 32px;
  background-color: #181818;
  border-radius: 20.736px;
  display: flex;
}
.etu-Switch-limegreen__true--small:hover {
  cursor: not-allowed;
}
.etu-Switch-limegreen__true--small:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__true--small .etu-Switch-inBox {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
}
.etu-Switch-limegreen__true--small .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__true--small .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-limegreen__true--small input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 25.6px;
  transition: all 0.3s;
}

.etu-Switch-limegreen__false--small {
  background-color: limegreen;
  width: 57.6px;
  height: 32px;
  background-color: #181818;
  border-radius: 20.736px;
  display: flex;
}
.etu-Switch-limegreen__false--small:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__false--small .etu-Switch-inBox {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}
.etu-Switch-limegreen__false--small .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-limegreen__false--small input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 25.6px;
  transition: all 0.3s;
}

.etu-Switch-dodgerblue__true--large {
  background-color: dodgerblue;
  opacity: 0.6;
  width: 90px;
  height: 50px;
  background-color: #181818;
  border-radius: 32.4px;
  display: flex;
}
.etu-Switch-dodgerblue__true--large:hover {
  cursor: not-allowed;
}
.etu-Switch-dodgerblue__true--large .etu-Switch-inBox {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
}
.etu-Switch-dodgerblue__true--large .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__true--large .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-dodgerblue__true--large input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 40px;
  transition: all 0.3s;
}
.etu-Switch-dodgerblue__true--large:hover {
  cursor: pointer;
}

.etu-Switch-dodgerblue__false--large {
  background-color: dodgerblue;
  width: 90px;
  height: 50px;
  background-color: #181818;
  border-radius: 32.4px;
  display: flex;
}
.etu-Switch-dodgerblue__false--large .etu-Switch-inBox {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}
.etu-Switch-dodgerblue__false--large .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__false--large input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 40px;
  transition: all 0.3s;
}
.etu-Switch-dodgerblue__false--large:hover {
  cursor: pointer;
}

.etu-Switch-dodgerblue__true--normal {
  background-color: dodgerblue;
  opacity: 0.6;
}
.etu-Switch-dodgerblue__true--normal:hover {
  cursor: not-allowed;
}
.etu-Switch-dodgerblue__true--normal .etu-Switch-inBox {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
}
.etu-Switch-dodgerblue__true--normal .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__true--normal .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-dodgerblue__true--normal input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 32px;
  transition: all 0.3s;
}

.etu-Switch-dodgerblue__false--normal {
  background-color: dodgerblue;
}
.etu-Switch-dodgerblue__false--normal .etu-Switch-inBox {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}
.etu-Switch-dodgerblue__false--normal .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__false--normal input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 32px;
  transition: all 0.3s;
}

.etu-Switch-dodgerblue__true--small {
  background-color: dodgerblue;
  opacity: 0.6;
  width: 57.6px;
  height: 32px;
  background-color: #181818;
  border-radius: 20.736px;
  display: flex;
}
.etu-Switch-dodgerblue__true--small:hover {
  cursor: not-allowed;
}
.etu-Switch-dodgerblue__true--small:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__true--small .etu-Switch-inBox {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
}
.etu-Switch-dodgerblue__true--small .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__true--small .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-dodgerblue__true--small input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 25.6px;
  transition: all 0.3s;
}

.etu-Switch-dodgerblue__false--small {
  background-color: dodgerblue;
  width: 57.6px;
  height: 32px;
  background-color: #181818;
  border-radius: 20.736px;
  display: flex;
}
.etu-Switch-dodgerblue__false--small:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__false--small .etu-Switch-inBox {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}
.etu-Switch-dodgerblue__false--small .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-dodgerblue__false--small input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 25.6px;
  transition: all 0.3s;
}

.etu-Switch-mediumpurple__true--large {
  background-color: mediumpurple;
  opacity: 0.6;
  width: 90px;
  height: 50px;
  background-color: #181818;
  border-radius: 32.4px;
  display: flex;
}
.etu-Switch-mediumpurple__true--large:hover {
  cursor: not-allowed;
}
.etu-Switch-mediumpurple__true--large .etu-Switch-inBox {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
}
.etu-Switch-mediumpurple__true--large .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__true--large .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-mediumpurple__true--large input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 40px;
  transition: all 0.3s;
}
.etu-Switch-mediumpurple__true--large:hover {
  cursor: pointer;
}

.etu-Switch-mediumpurple__false--large {
  background-color: mediumpurple;
  width: 90px;
  height: 50px;
  background-color: #181818;
  border-radius: 32.4px;
  display: flex;
}
.etu-Switch-mediumpurple__false--large .etu-Switch-inBox {
  width: 50px;
  height: 50px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}
.etu-Switch-mediumpurple__false--large .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__false--large input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 40px;
  transition: all 0.3s;
}
.etu-Switch-mediumpurple__false--large:hover {
  cursor: pointer;
}

.etu-Switch-mediumpurple__true--normal {
  background-color: mediumpurple;
  opacity: 0.6;
}
.etu-Switch-mediumpurple__true--normal:hover {
  cursor: not-allowed;
}
.etu-Switch-mediumpurple__true--normal .etu-Switch-inBox {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
}
.etu-Switch-mediumpurple__true--normal .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__true--normal .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-mediumpurple__true--normal input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 32px;
  transition: all 0.3s;
}

.etu-Switch-mediumpurple__false--normal {
  background-color: mediumpurple;
}
.etu-Switch-mediumpurple__false--normal .etu-Switch-inBox {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}
.etu-Switch-mediumpurple__false--normal .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__false--normal input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 32px;
  transition: all 0.3s;
}

.etu-Switch-mediumpurple__true--small {
  background-color: mediumpurple;
  opacity: 0.6;
  width: 57.6px;
  height: 32px;
  background-color: #181818;
  border-radius: 20.736px;
  display: flex;
}
.etu-Switch-mediumpurple__true--small:hover {
  cursor: not-allowed;
}
.etu-Switch-mediumpurple__true--small:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__true--small .etu-Switch-inBox {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
}
.etu-Switch-mediumpurple__true--small .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__true--small .etu-Switch-inBox:hover {
  cursor: not-allowed;
}
.etu-Switch-mediumpurple__true--small input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 25.6px;
  transition: all 0.3s;
}

.etu-Switch-mediumpurple__false--small {
  background-color: mediumpurple;
  width: 57.6px;
  height: 32px;
  background-color: #181818;
  border-radius: 20.736px;
  display: flex;
}
.etu-Switch-mediumpurple__false--small:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__false--small .etu-Switch-inBox {
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}
.etu-Switch-mediumpurple__false--small .etu-Switch-inBox:hover {
  cursor: pointer;
}
.etu-Switch-mediumpurple__false--small input[type=checkbox]:checked + .etu-Switch-inBox {
  margin-left: 25.6px;
  transition: all 0.3s;
}